.logotipo{
    height: 250px;
}

main{
    background-color:antiquewhite;
    height: 600px;
    color:  rgb(24, 22, 22);
}
footer{
    background-color: khaki;
    height: 300px;
    color: rgb(37, 34, 34);
}
header{
    background-color: rgb(126, 72, 3);
}